<div class="container">
  <div class="title">
    <p>Add User</p>
  </div>
  <form (ngSubmit)="submit()" class="form-group">
    <div class="card">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="Mobile Number" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date of birth</mat-label>
        <input matInput placeholder="Date of birth" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Designation</mat-label>
        <input matInput placeholder="Designation" />
      </mat-form-field>
      <!-- <mat-form-field appearance="outline"  >
      <mat-label>Aadhaar Number</mat-label>
      <input matInput placeholder="Aadhaar Number" />
    </mat-form-field> -->
      <!-- <mat-form-field appearance="outline"  >
      <mat-label>Pan Number</mat-label>
      <input matInput placeholder="Pan Number" />
    </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select matNativeControl placeholder="Role">
          <mat-option value="Role1">Sales</mat-option>
          <mat-option value="Role2">Sales Head</mat-option>
          <mat-option value="Role3">Admin</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Residential Address</mat-label>
        <input matInput placeholder="Residential Address" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Pin Code</mat-label>
        <input matInput placeholder="Pin Code" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" />
      </mat-form-field>
      <div class="buttons">
        <button mat-button>Cancel</button>
        <button mat-button>Add User</button>
      </div>
    </div>
  </form>
</div>
