<div class="container">
  <div class="main-content">
    <div class="title">
      <h1>Layout List</h1>
      <div class="filter">

        <mat-form-field appearance="standard">
          <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="Filter" #input>
        </mat-form-field>

      </div>
    </div>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location </th>
          <td mat-cell *matCellDef="let row"> {{row.location }} </td>
        </ng-container>
        <ng-container matColumnDef="center">
          <th mat-header-cell *matHeaderCellDef>Center</th>
          <td mat-cell *matCellDef="let row"> {{row.center}} </td>
        </ng-container>
        <ng-container matColumnDef="floor">
          <th mat-header-cell *matHeaderCellDef>Floor</th>
          <td mat-cell *matCellDef="let row"> {{row.floor}} </td>
        </ng-container>
        <ng-container matColumnDef="availableNoOfWorkstation">
          <th mat-header-cell *matHeaderCellDef>Selected workstation</th>
          <td mat-cell *matCellDef="let row"> {{row.selectedNoOfSeats || 0}} </td>
        </ng-container>
        <ng-container matColumnDef="totalNoOfWorkstation">
          <th mat-header-cell *matHeaderCellDef> Total workstation </th>
          <td mat-cell *matCellDef="let row"> {{ row.totalNoOfWorkstation}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> View Layout </th>
          <td mat-cell *matCellDef="let row" class="edit" (click)="viewLayout(row.jsonData[0])"><button type="button" style="background: darkgrey;" mat-button>
            View
            </button></td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Proposals </th>
          <td mat-cell *matCellDef="let row" class="delete" (click)="viewProposal(row._id,row.center)"><button type="button" style="background: darkgrey;" mat-button>
              Proposal Lists
            </button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
