.contain{
  width: 1080px;
  height: 734px;
  border: 1px solid black;
}
.changeContain{
  width: 1080px;
  height: 734px;
  border: 1px solid black;

    user-select: none;
    cursor: move;

}
.main{
  display: flex;
  justify-content: space-around;
  align-items: center;

  button{
    margin: 10px;
  }
  .canvas-container{
    margin-left: 6rem;
    padding-block:0.5rem 2rem;

  }
  .sub-container{
    display: flex;
    flex-direction: column;
    // margin-left:6rem;
    // padding-top:3rem;
    // width:15rem;
    // align-items: center;

  .label{
    display: flex;
    gap:1rem;

    mat-card{
      width:8rem;
    }
  }
/* Styles for the loading indicator */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



  }

}
