
<div class="main">
  <div class="canvas-container">
    <div id="container"></div>
  </div>
<div class="sub-container">
  <label>Seats to be Selected: {{totalNumber}}</label>
  <button mat-raised-button color="primary" (click)="drawRectangles()">Select Seats</button>
  <button mat-raised-button (click)="resetZoomAndPosition()"> Reset </button>
  <button  mat-raised-button (click)="addLayout()">Final</button>
  <button  mat-raised-button (click)="removeImage()">Remove Image</button>
</div>
</div>
