@mixin for-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin for-mobile {
  @media (max-width: 450px) {
    @content;
  }
}
.container{
  display: flex;
  flex-direction: column;
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.content{
  display: flex;
  flex-direction: column;
  text-align: initial;
 .newSections{
  display: flex;
  flex-direction: column;
  align-items: center;
  section{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    @include for-mobile(){
      flex-direction: column;
    }
    .mat-form-field{
      width: 16rem;
    }
  }
 }
}


.form-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  gap: 17rem;
  padding:1rem;
  @include for-mobile(){
    gap:4rem;
  }
  button{
    width:7rem;
    height: 3rem;
    @include for-mobile(){
      width:7rem;
    }
  }
  }
}


