.container{
  display: flex;
  flex-direction: column;
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.content{
  display: flex;
  flex-direction: column;
  text-align: initial;
 .newSections{
  display: flex;
  flex-direction: column;
  align-items: center;
  section{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    .mat-form-field{
      width: 16rem;
    }
  }
 }
}


.form-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  gap: 17rem;
  padding:1rem;
  button{
    width:7rem;
    height: 3rem;
  }
  }
}


