<div class="container">
    <div class="main-content">
       <div class="card">  
        <div>
        <p>The unique identification of your proposal is:</p>
        <input class="uid" type="text" value="XXXXXXXXXX" disabled>
    </div>
        <div>
        <p>Do you wish to escalate the proposal for closure?</p>
        <div>     
            <input class="yesno" type="button" value="Yes">
            <input class="yesno" type="button" value="No">
        </div>
    </div>

    <div>
        <div class="otpdiv"><p>If Yes,</p></div>
        <input class="otp" type="button" value="Generate OTP for closure">
        <input class="otp" type="button" value="Enter OTP for closure">
    </div>
        <div>
        <input class="offer" type="button" value="Final Offer Amount">
        <input class="offer" type="button" value="Re-Generate Proposal">
    </div>
    </div>
    </div>
</div>