@mixin flex_center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin  inputs {
    text-align:center;
    box-sizing: border-box;
    border: none;
    background-color: #C3343A;

}
div{
    text-align: center;
    margin: 5px 0px ;
}
.container {
    @include flex_center_center();
    background-image: url('../../../assets/images/oldproposal/oldbackground.png');
    background-size: cover;
    min-height: 100vh;
   
    .main-content {
        @include flex_center_center();
        gap: 1rem;

        .card {
            @include flex_center_center();
            width: 38rem;
            height: 28rem;
            background-color: rgba(255, 255, 255, 0.656);
            border-radius:2.5rem ;
            border: 1px solid #707070;
            flex-direction: column;

            .uid{
                @include inputs();
                width: 20rem;
                border-radius:4rem;
                padding: 12px 20px;
                margin: 8px 0;
                
                
                color: #C4C4C4;
            }
            .yesno{
                @include inputs();
                width: 4.5rem;
                border-radius:0.5rem;
                padding: 5px 10px;
                margin: 0px 10px;
                
                color: #ffffff;
            }
            .otp{
                @include inputs();

                width: 50%;
                border-radius:1rem;
                padding: 12px 20px;
                margin: 8px 10px;
                
                
                color: #C4C4C4;
            }
            .otpdiv{
               
                width: 16rem;
                text-align: center;
              
            }
            .offer{
                @include inputs();
                border-radius:1rem;
                width: 15rem;
                padding: 12px 20px;
                margin: 20px 10px;
                color: #ffffff;
            }
        }
    }
}

@media (max-width: 475px) {
    .container {
        .main-content {
            flex-wrap: wrap;

            .card {
                width: 13rem;
                height: 13rem;
            }
        }
    }
}