.container{
  // margin: 10px;
  display: flex;
    flex-direction: column;
    align-items: center;
    .card {

        h2{
          font-size: 1.5rem;
          margin: 0;
            mat-icon{
                font-size: 1.6rem;
                width: 23px;
                height: 22px;
            }
        }
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #c3343a;
        color: #ffffff;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 10px solid #111111;
        overflow: hidden;
        padding-inline: 1rem;
        width: 30rem;
    margin-block: 1rem;
    font-size: 1.2rem;
    text-align: center;
    transition: 600ms ease-out;

      section{
        display: flex;
        justify-content: space-between;
        p{
          margin-block: 15px;
          width: 30%;
          text-align: left;
          mat-icon{
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    .chartCard {
      display: flex;
      justify-content: space-around;
      width: 55rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      // cursor: pointer;
      background-color: #c3343a;
      color: white;
      overflow: hidden;
      padding-inline: 1rem;

      margin-block: 1rem;
      font-size: 1.2rem;
      text-align: center;
      transition: 600ms ease-out;
.cardSection{

  // width: 45rem;
  h2{
    font-size: 1.5rem;
    margin: 0;
      mat-icon{
          font-size: 1.6rem;
          width: 23px;
          height: 22px;
      }
  }


section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  p{
    margin-block: 15px;
    width: 46%;
    text-align: left;
    mat-icon{
      height: 20px;
      width: 20px;
    }
  }
}
}
#chartContainer {
  position: relative;
}

#chartContainer path {
  transition: transform 0.8s ease;
}

#chartContainer path:hover {
  transform: translateY(-10px);
}
.chart{
width: 25rem;
height: 25rem;
background-color: #c3343a;
}
}

}
