
.contain{
  width: 1080px;
  height: 734px;
  border: 1px solid black;
}
.changeContain{
  width: 1080px;
  height: 734px;
  border: 1px solid black;

    user-select: none;
    cursor: move;

}
  .canvas-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3rem;

      button{
     margin:1rem;
    }
  }





