<div class="container">
    <div class="title">
        <p>Welcome To 
            <span>RED BRICKS</span>
        </p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <div class="form-field">
            <label>Email</label>
            <input type="text" formControlName="userName">
        </div >
        <div class="form-field">
            <label>Password</label>
            <div class="input">
                <input type="text" formControlName="password">
                <fa-icon [icon]="visibility"></fa-icon>
            </div>
        </div >
        <div class="form-password-action">
            <a>Forgot Password?</a>
        </div>
        <div class="form-action">
            <button type="submit">SIGN IN</button>
        </div>
        <div class="terms_and_condition">
            <p>By continuing, you agree to accept out <br> Privacy Policy & Terms of Service</p>
        </div>
    </form>
</div>