@mixin for-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin for-mobile {
  @media (max-width: 450px) {
    @content;
  }
}
@mixin flex_center_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  flex-direction: column;
}


.container {
  @include flex_center_center();
  min-height: 100vh;
  width: 100%;
  background-image: url("../../../../../assets/images/location/location-background.png");
  background-size: cover;
  background-position: center;
  background-color: #fddede;
  @include for-mobile() {
    overflow: auto;
  }
  .main-content {
    @include flex_center_center();
    width: inherit;
    height: inherit;
    padding: 30px 5px;

    .location-pointer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      /* width: 80rem; */
      height: 100vh;
      justify-content: space-evenly;
      // margin-block-start: 2rem;

      .icon {
        display: flex;
        justify-content: flex-start;
        width: 25rem;
        margin-block-start: 25px;
        height: 22rem;
        cursor: pointer;
        align-items: center;
        flex-direction: column;

        @include for-desktop() {
          width: 23rem;
          height: 20rem;
        }

        @include for-mobile() {
          width: 16rem;
          height: 20rem;
        }
        svg {
          // width: inherit;
          // height: inherit;
          overflow: visible;
          @include for-mobile() {

            transform: matrix(0.8, 0, 0, 0.8, 3, 19);
          }
        }

        p {
          color: #c3343a;
          margin-block: 0rem 0.5rem;
          font-size: 1.6rem;
          font-weight: 500;
          width: 10rem;
          cursor: pointer;
          @include for-mobile() {
            margin-block: 0.15rem 0.5rem;
            font-size: 0.9rem;
          }
        }
        .seat-counts{
          font-size: 1.3rem;
        }
      }

    }
  }
}

.icon {
  @for $i from 0 to 10 {
    &:nth-child(#{$i}) {
      fill: rgb(random(255), random(255), random(255));
    }
  }
}
