<!-- <div mat-dialog-content>
    <pdf-viewer [ngClass]="isPdfLoaded?'invisibility':''" [src]="pdfUrl" [original-size]="true"
        (pages-initialized)="pageInitialized($event)" (page-rendered)="pageRendered($event)"
        [external-link-target]="'blank'" [page]="1" (on-progress)="onProgress($event)"
        (after-load-complete)="loadComplete($event)" [fit-to-page]="true">
    </pdf-viewer>
    <ng-container *ngIf="!isPdfLoaded">
        <mat-spinner color="primary"></mat-spinner>
    </ng-container>
</div> -->
<div class="canvas-container" >
    <div class="inner_div">

    <label>Seats to be Selected: {{totalNumber}}</label>
    <div>
        <button class="download_btn" (click)="drawRectangles()">Select Seats</button>
        <div>
            <mat-radio-group [(ngModel)]="flowOfDrawingSeats" name="radioButtons" (change)="onRadioButtonChange($event)">
                <div>
                    <mat-radio-button id="vertical" value="vertical" checked>Vertical</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button id="horizontal" value="horizontal">Horizontal</mat-radio-button>
                </div>
              
              </mat-radio-group>
        </div>
    </div>
      <button class="download_btn"   (click)="saveImage()">Final Layout</button>
    </div>
    <!-- <div #captureContainer> -->
        <div id="container"></div>
    <!-- </div> -->
   
  </div>