
.canvas-container{
  width: 1080px;
  height: 734px;
  display: flex;
  flex-direction: column;
}
.contain{
    width: 1080px;
    height: 734px;
    border: 1px solid black;
  }
  .changeContain{
    width: 1080px;
    height: 734px;
    border: 1px solid black;

      user-select: none;
      cursor: move;

  }
  .main{
    display: flex;
    button{
      margin: 10px;
    }
  }
  .inner_div{
     display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

   .download_btn {
    background: #C3343A;
    color: white;
    font-weight: 600;
    height: 31px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    }
  }
  .mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #C3343A !important;
}
:host ::ng-deep{
  .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #C3343A !important;
  }
  .mat-radio-outer-circle {
    border-color: #C3343A;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #C3343A !important;

}

}


