
<div class="main">
    <div class="canvas-container">
      <div id="container" [ngClass]="isDrawingEnabled || isSeatDrawingEnabled ?'contain':'changeContain'"></div>
    </div>
  <div style="display: flex;
  flex-direction: column;">
  <button (click)="toggleDrawing()">{{isDrawingEnabled?'Stop':'Start'}} Drawing Rectangle</button>
  <button (click)="toggleLockDrawing()"> DRAW LOCKD SEAT</button>
  
  <button (click)='addRectDataInArray()'>Update Border</button>
  <!-- <button (click)="drawSeatAndGetHW()">{{isSeatDrawingEnabled?'Stop':'Start'}} Drawing Seat</button> -->
  <label>Width={{seatWidth}}</label>
  <label>Height={{seatHeight}} </label>
  <!-- <button (click)='updateSeatsSize()'>Update Seat</button> -->
  <button (click)="resetZoomAndPosition()">Reset Zoom and Position</button>
  <button (click)="addLayout()">Final Layout</button>
  <button (click)="displayRectangles()">Display Rectangles</button>
  <button (click)="updateStoredValues()">Update Rectangels</button>
  </div>
  </div>
  
  