@mixin field-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    border-radius: 0.5rem;
    padding-inline-start: 1rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

@mixin flex-column__center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ECECEC;
    min-height: 100vh;
    gap: 1rem;


    .id {
        display: flex;
        justify-content: flex-start;
        width: inherit;
        padding-block-start: 1rem;
    }

    .card {
        background-color: #C3343A;
        border-radius: 2rem;
        padding: 0rem 1rem;
        margin-inline-start: 2rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;
        color: #ffffff;
        font-weight: 600;
    }

    .main-content {
        display: flex;
        width: inherit;

        form {
            display: flex;
            flex-direction: column;
            width: inherit;
            gap: 1rem;

            .form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 5rem;

                .left {
                    @include flex-column__center-center();
                    gap: 5rem;

                    .section {
                        @include flex-column__center-center();
                        gap: 2rem;

                        .field-card {
                            background-color: #C3343A;
                            @include field-card();

                            mat-form-field {
                                width: 10rem;
                                padding-inline: 1rem;
                                padding-block: 0.5rem;
                            }

                        }

                        .field-card-odd {
                            @include field-card();
                            background-color: #7D7E80;

                            mat-form-field {
                                width: 10rem;
                                padding-inline: 1rem;
                                padding-block: 0.5rem;
                            }

                            //removing up and down button on input type number
                            input[type='number']::-webkit-outer-spin-button,
                            input[type='number']::-webkit-inner-spin-button {
                                appearance: none;
                            }
                        }
                    }
                }

                .right {
                    @include flex-column__center-center();
                    gap: 2rem;

                    .section {
                        display: flex;
                        flex-wrap: nowrap;
                        gap: 5rem;

                        .sub-field-card {
                            @include flex-column__center-center();
                            gap: 0.5rem;

                            .sub-field-card__image {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 100%;
                                width: 8rem;
                                height: 8rem;

                                img {
                                    width: inherit;
                                    height: inherit;
                                }
                            }

                            .sub-field-card__action {
                                display: flex;
                                flex-wrap: nowrap;
                                gap: 0.3rem;

                                .sub-field-card__action-label {
                                    font-size: 1.1rem;
                                    font-weight: 500;

                                    p {
                                        margin-block: 0rem;
                                    }

                                }

                                .sub-field-card__action-field {

                                    mat-radio-group {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;

                                        mat-radio-button {
                                            &:nth-child(even) {
                                                color: #7D7E80;
                                            }

                                            color: #C3343A;
                                            font-size: 1.1rem;
                                            padding: 0.3rem 0.7rem;
                                            border-radius: 0.5rem;
                                        }

                                        .with-input {
                                            background-color: #C3343A;
                                            color: #fff;
                                            padding-block: 0.3rem;
                                            padding-inline-end: 0.3rem;
                                            border-radius: 0.5rem;
                                            display: flex;

                                            mat-radio-button {
                                                color: #fff;
                                            }

                                            input {
                                                width: 2rem;
                                                border-radius: 0.5rem;
                                                outline: none;
                                                border: none;
                                                padding: 0.2rem;
                                                padding-inline-end: 0.5rem;
                                                font-size: 1.1rem;
                                                caret-color: #C3343A;
                                                color: #C3343A;

                                                &::placeholder{
                                                    color: #C3343A;
                                                }

                                            }

                                            input[type='number']::-webkit-outer-spin-button,
                                            input[type='number']::-webkit-inner-spin-button {
                                                appearance: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .form-action {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 1rem;
                width: inherit;

                button {
                    font-size: 1.1rem;
                    font-weight: 600;
                    min-width: 10rem;
                    min-height: 3rem;
                    margin-inline-end: 2rem;
                    &:last-child{
                        margin-inline-end: 5rem;
                    }
                }
            }
        }
    }

}
