<div class="container">
  <div class="id">
    <div class="card">
      <p>ID :</p>
      <p>{{ proposalId }}</p>
    </div>
  </div>
  <div class="main-content">
    <form [formGroup]="requirementInfoForm">
      <div class="form">
        <div class="left">
          <!-- <div class="section"> -->
            <mat-accordion class="section">

              <div class="field">
            <!-- <div class="field"> -->
              <!-- workstations -->
              <mat-expansion-panel class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Workstations</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
               <div style="display: flex; flex-direction: column; gap:10px;">
                            <div class="field-inputs">
                              <mat-label>2.5x1.75</mat-label>
                              <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="workstation2x1" >
                            </div>
                            <div class="field-inputs">
                              <mat-label>3x2</mat-label>
                              <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="workstation3x2">
                            </div>
                            <div class="field-inputs">
                              <mat-label>4x2</mat-label>
                              <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="workstation4x2">
                            </div>
                            <div class="field-inputs">
                              <mat-label>5x2</mat-label>
                              <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="workstation5x2">
                            </div>
                            <div class="field-inputs">
                              <mat-label>5x2.5</mat-label>
                              <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="workstation5x2_5">
                            </div>
                            <div  class="field-inputs">
                              <mat-label>4x4</mat-label>
                              <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="workstation4x4">
                            </div>
                            <div class="field-inputs">
                              <mat-label>5x4</mat-label>
                              <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="workstation5x4">
                            </div>
                            <div class="field-inputs">
                              <mat-label>5x5</mat-label>
                              <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="workstation5x5">
                            </div>
                    </div>
              </mat-expansion-panel>
            <!-- </div> -->
            <!--------- cabin rooms ---------------->
            <!-- <div class="field"> -->
              <mat-expansion-panel class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Cabins</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>Regular</mat-label>
                    <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="cabinRegular" >
                  </div>
                  <div class="field-inputs">
                    <mat-label>Medium</mat-label>
                    <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="cabinMedium">
                  </div>
                  <div class="field-inputs">
                    <mat-label>Large</mat-label>
                    <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="cabinLarge">
                  </div>
                  <div class="field-inputs">
                    <mat-label>MD</mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="cabinMD">
                  </div>
          </div>
              </mat-expansion-panel>
            <!-- </div> -->
          <!-- </div> -->
          <!-- <div class="section"> -->
<!-------------- Meeting Rooms ------------->
            <!-- <div class="field"> -->
              <mat-expansion-panel class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Meeting Rooms</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>4 Person </mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="meeting4P" >
                  </div>
                  <div class="field-inputs">
                    <mat-label>6 Person </mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="meeting6P">
                  </div>
                  <div class="field-inputs">
                    <mat-label>8 Person</mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="meeting8P">
                  </div>
                  <div class="field-inputs">
                    <mat-label>10 Person</mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="meeting10P">
                  </div>
                  <div class="field-inputs">
                    <mat-label>12 Person</mat-label>
                    <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="meeting12P">
                  </div>
                  <div class="field-inputs">
                    <mat-label>16 Person</mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="meeting16P">
                  </div>
          </div>
              </mat-expansion-panel>

            <!-- </div> -->
            <!--------------- Board Room--------------- -->
            <!-- <div class="field"> -->
              <mat-expansion-panel class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>

                    <p>Board Rooms</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; gap:10px;">
                <div class="field-inputs">
                  <mat-label>20 Person</mat-label>
                  <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="board20P">
                </div>
                <div class="field-inputs">
                  <mat-label>24 Person</mat-label>
                  <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="board24P">
                </div>
              </div>
              </mat-expansion-panel>
            <!-- </div> -->
          <!-- </div> -->
<!---------------------- Collab Area ------------------ -->
            <!-- <div class="field"> -->
              <mat-expansion-panel class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Collab Area</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>4P Collab Area</mat-label>
                    <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="collab4P">
                  </div>
                  <div class="field-inputs">
                    <mat-label>6P Collab Area</mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="collab6P">
                  </div>
                  <div class="field-inputs">
                    <mat-label>8P Collab Area</mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="collab8P">
                  </div>
                </div>
              </mat-expansion-panel>
      <!-- Dry pantry -->
              <mat-expansion-panel class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Dry Pantry</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>Regular Pantry</mat-label>
                    <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="dryPantryNumber">
                  </div>
                </div>
              </mat-expansion-panel>

 <!--------------- Reception ----------------------- -->
              <mat-expansion-panel class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Reception</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>Small </mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="receptionSmall">
                  </div>
                  <div class="field-inputs">
                    <mat-label>Medium </mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="receptionMedium">
                  </div>
                  <div class="field-inputs">
                    <mat-label>Large </mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="receptionLarge">
                  </div>
                </div>
              </mat-expansion-panel>
<!------------- Store Room ------------->
              <mat-expansion-panel class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Store Room</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>Small</mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="storeRoomNumber">
                  </div>
                </div>
              </mat-expansion-panel>

<!--------- Phone Booth ---------->
              <mat-expansion-panel class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Phone Booth</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>Small</mat-label>
                    <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="phoneBoothNumber">
                  </div>
                </div>
              </mat-expansion-panel>


            </div>
            <div class="field">
 <!------- Cubical Room --------------->
              <mat-expansion-panel  class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Cubical Room</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label> 7x8.5</mat-label>
                    <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="cubicalCount">
                  </div>
                </div>
              </mat-expansion-panel>
<!---------- Server Room -------->
              <mat-expansion-panel  class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Server Room</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>1 Rack </mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="server1Rack">
                  </div>
                  <div class="field-inputs">
                    <mat-label>2 Rack </mat-label>
                    <input  type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="server2Rack">
                  </div>
                  <div class="field-inputs">
                    <mat-label>3 Rack </mat-label>
                    <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="server3Rack">
                  </div>
                  <div class="field-inputs">
                    <mat-label>4 Rack </mat-label>
                    <input type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="server4Rack">
                  </div>
                </div>
              </mat-expansion-panel>
<!------------ Prayer Room ------------>
              <mat-expansion-panel  class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Prayer/Pooja Room</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>Room</mat-label>
                    <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="prayerRoomNumber">
                  </div>
                </div>
              </mat-expansion-panel>
<!-- ------------Wellnewss Room ------ -->
                <mat-expansion-panel  class="field-card">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <p>Wellness Room</p>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div style="display: flex; flex-direction: column; gap:10px;">
                    <div class="field-inputs">
                      <mat-label>Room</mat-label>
                      <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="wellnessRoomNumber">
                    </div>
                  </div>
                </mat-expansion-panel>
<!-- ------- Cafeteria ------------- -->
              <mat-expansion-panel  class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Cafeteria</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>Capacity/Pax.</mat-label>
                    <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="cafeteriaNumber">
                  </div>
                </div>
              </mat-expansion-panel>
<!-- ---------------Niche Seating ------ -->
<mat-expansion-panel  class="field-card">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <p>Niche Seating</p>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div style="display: flex; flex-direction: column; gap:10px;">
    <div class="field-inputs">
      <mat-label>Small 2Pax</mat-label>
      <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="nicheSeat2Pax">
    </div>
    <div class="field-inputs">
      <mat-label>Small 4Pax</mat-label>
      <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="nicheSeat4Pax">
    </div>
  </div>
</mat-expansion-panel>

<!------------- Training Room ------ -->
              <mat-expansion-panel  class="field-card">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Training Room</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; gap:10px;">
                  <div class="field-inputs">
                    <mat-label>Capacity/Pax.</mat-label>
                    <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="trainingRoomNumber">
                  </div>
                </div>
              </mat-expansion-panel>
<!-- ---Games Room ------------ -->
                <mat-expansion-panel  class="field-card">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <p>Games Room</p>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div style="display: flex; flex-direction: column; gap:10px;">
                    <div class="field-inputs">
                      <mat-label>Capacity/Pax.</mat-label>
                      <input   type="number" min="0" oninput="this.value = Math.round(Math.abs(this.value))" formControlName="gameRoomNumber">
                    </div>
                  </div>
                </mat-expansion-panel>

            </div>

          </mat-accordion>

        </div>
        <div class="center">
<h2>Client Requirement</h2>
            <p class="center_title"> <span class="center_title_first_span" >Type & Size (in ft.)</span> <span class="center_title_second_span">Counts</span></p>

          <div class="text" id='datadiv'>
            <p *ngIf="requirementInfoForm.value.workstation2x1"> <span class="info-label"> Workstation2x1 <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.workstation2x1}} <span style="display: none;">,</span> </span></p>
            <p *ngIf="requirementInfoForm.value.workstation3x2"> <span class="info-label"> Workstation3x2 <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.workstation3x2}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.workstation4x2"> <span class="info-label"> Workstation4x2 <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.workstation4x2}} <span style="display: none;">,</span> </span></p>
            <p *ngIf="requirementInfoForm.value.workstation4x4"> <span class="info-label"> Workstation4x4 <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.workstation4x4}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.workstation5x2"> <span class="info-label"> Workstation5x2 <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.workstation5x2}} <span style="display: none;">,</span> </span></p>
            <p *ngIf="requirementInfoForm.value.workstation5x2_5"> <span class="info-label"> Workstation5x2.5 <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.workstation5x2_5}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.workstation5x4"> <span class="info-label"> Workstation5x4 <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.workstation5x4}} <span style="display: none;">,</span> </span></p>
            <p *ngIf="requirementInfoForm.value.workstation5x5"> <span class="info-label"> Workstation5x5 <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.workstation5x5}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.cabinRegular"> <span class="info-label"> Regular Cabin <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.cabinRegular}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.cabinMedium"> <span class="info-label"> Medium Cabin <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.cabinMedium}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.cabinLarge"> <span class="info-label"> Large Cabin <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.cabinLarge}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.cabinMD"> <span class="info-label"> MD Cabin <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.cabinMD}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.meeting4P"> <span class="info-label"> 4P Meeting <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.meeting4P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.meeting6P"> <span class="info-label"> 6P Meeting <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.meeting6P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.meeting8P"> <span class="info-label"> 8P Meeting <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.meeting8P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.meeting10P"> <span class="info-label"> 10P Meeting <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.meeting10P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.meeting12P"> <span class="info-label"> 12P Meeting <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.meeting12P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.meeting16P"> <span class="info-label"> 16P Meeting <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.meeting16P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.cubicalCount"> <span class="info-label"> Cubical <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.cubicalCount}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.board20P"> <span class="info-label"> 20P Board Room <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.board20P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.board24P"> <span class="info-label"> 24P Board Room <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.board24P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.collab4P"> <span class="info-label"> 4P Collab Area <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.collab4P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.collab6P"> <span class="info-label"> 6P Collab Area <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.collab6P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.collab8P"> <span class="info-label"> 8P Collab Area <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.collab8P}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.dryPantryNumber"> <span class="info-label"> Dry Pantry Room <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.dryPantryNumber}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.server1Rack"> <span class="info-label"> 1 Rack Server <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.server1Rack}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.server2Rack"> <span class="info-label"> 2 Rack Server <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.server2Rack}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.server3Rack"> <span class="info-label"> 3 Rack Server <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.server3Rack}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.server4Rack"> <span class="info-label"> 4 Rack Server <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.server4Rack}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.receptionSmall"> <span class="info-label"> Small Reception <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.receptionSmall}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.receptionMedium"> <span class="info-label"> Medium Reception <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.receptionMedium}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.receptionLarge"> <span class="info-label"> Large Reception <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.receptionLarge}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.storeRoomNumber"> <span class="info-label"> Store Room <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.storeRoomNumber}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.prayerRoomNumber"> <span class="info-label"> Prayer/Pooja Room <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.prayerRoomNumber}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.cafeteriaNumber"> <span class="info-label"> Cafeteria <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.cafeteriaNumber}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.wellnessRoomNumber"> <span class="info-label"> Wellness Room <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.wellnessRoomNumber}} <span style="display: none;">,</span> </span></p>
            <p *ngIf="requirementInfoForm.value.phoneBoothNumber"> <span class="info-label"> Phone Booth <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.phoneBoothNumber}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.nicheSeat2Pax"> <span class="info-label"> Niche Seat 2Pax <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.nicheSeat2Pax}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.nicheSeat4Pax"> <span class="info-label"> Niche Seat 4Pax <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.nicheSeat4Pax}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.trainingRoomNumber"> <span class="info-label"> Training Room  <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.trainingRoomNumber}} <span style="display: none;">,</span> </span> </p>
            <p *ngIf="requirementInfoForm.value.gameRoomNumber"> <span class="info-label"> Game Room  <span style="display: none;">=</span> </span> <span class="info-count"> {{requirementInfoForm.value.gameRoomNumber}} <span style="display: none;">,</span> </span> </p>
          </div>
        </div>
        <div class="right">
          <mat-radio-group formControlName="createWithArea" (value)="requirementInfoForm.get('createWithArea').value">
          <mat-radio-button   value='area' >Area</mat-radio-button>
          <div class="counter-card">

            <div class="counter">
              <div class="label">Core Office Carpet Area Selected</div>
              <div class="count">{{ areaOfCoreSelectedSeat || 0 }} Sq.Ft</div>
            </div>
            <hr />
             <div class="counter">
              <div class="label">Usable Office Carpet Area Selected</div>
              <div class="count">{{ areaOfUsableSelectedSeat || 0}}Sq.Ft</div>
            </div>
          </div>
          <mat-radio-button  value='count' checked>Count</mat-radio-button>
          <div class="counter-card">

            <div class="counter">
              <div class="label">Total Inventory Selected</div>
              <div class="count">{{ billableSeats }}</div>
            </div>
            <hr />
            <div class="counter">
              <div class="label">Total Inventory Available</div>
              <div class="count">{{ totalAvailableWorkstation }}</div>
            </div>
          </div>
        </mat-radio-group>
        </div>
      </div>
      <div class="form-action">
        <button type="reset" mat-raised-button color="primary">
        Reset
        </button>
        <!-- <button type="button" mat-raised-button color="primary">
          Summarize Requirement
        </button> -->
        <button type="submit" (click)="onSubmit()"  mat-raised-button color="primary">
          Confirm Requirement <mat-icon>play_arrow </mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
