.contain{
    width: 1080px;
    height: 566px;
    border: 1px solid black;
  }
  .changeContain{
    width: 1080px;
    height: 566px;
    border: 1px solid black;

      user-select: none;
      cursor: move;

  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    button{
      margin: 10px;
    }
    .canvas-container{
      margin-block: 1.5rem;
    }

    .sub-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-block: 0rem 2rem;
      padding-inline: 2rem;
      background-color: #fff;
      border-radius: 2rem;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
      // width: 35rem;
      padding-top:1rem;
      .title{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: inherit;
        .controllers{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      section{
        display: flex;
        gap:1rem;
        mat-form-field {
          width: 16rem;
        }
      }
    }
    .form-action {
      display: flex;
      justify-content: center;
      align-items: center;
      width: inherit;
      gap: 2rem;
      button {
        width: 9rem;
      }
    }
    }
    .label{
      display: flex;
      gap:1rem;

      mat-card{
        margin-block: 0.5rem;
        width: 9rem;
        padding: 0;
        padding-block: 1rem 1rem;
      }
      p{
        margin-left: 10px;
      }
    }
  }

