<div class="container">

    <div class="main-content">
        <div *ngIf="2<1; else elseBlock">
                <div class="card">  
                    <button type="submit" mat-raised-button color="primary">Generate OTP to De-Registere</button>
                    <button type="submit" mat-raised-button color="primary">Enter OTP to De-Registere</button>
                </div>
                
        </div>
        <ng-template #elseBlock><div class="card">  
            <span> 
             No Conflict found. Please proceed to register Broker & to next stage
                   
                 </span>
            </div>
        </ng-template>
                
        </div>
           
                
        <div class="form-action">
            <button type="submit" mat-raised-button color="primary">Register Broker</button>
            <button type="submit" mat-raised-button color="primary">Next 
                <mat-icon>play_arrow</mat-icon>
            </button>
       </div>
</div>



