
<div class="main">
  <div class="canvas-container">
    <div id="container" [ngClass]="isDrawingEnabled || isSeatDrawingEnabled ?'contain':'changeContain'"></div>
  </div>
<div class="sub-container">
  <button mat-raised-button (click)="drawTHeSeat()">Get Clients</button>
  <button mat-raised-button (click)="toggleDrawing()" color="primary" >{{isDrawingEnabled?'Stop':'Start'}} Drawing Border</button>
  <button mat-raised-button (click)='addRectDataInArray()' color="primary">Update Border</button>
<button mat-raised-button (click)="resetZoomAndPosition()" color="primary">Reset Zoom and Position</button>
<button mat-raised-button (click)='addLayout()' color="primary">Final the layout</button>
<!-- <button *ngIf="isDeleteShape" mat-raised-button (click)="deleteSelectedShape(seatShape)" color="primary">delete Selected Layout</button> -->
<button mat-raised-button color="secondary" (click)="deleteSelectedRect()" [disabled]="!selectedShape">Delete Selected Rectangle</button>
<label> For Drawing Seats</label>
<button mat-raised-button (click)="drawSeatAndGetHW()" color="primary">{{isSeatDrawingEnabled?'Stop':'Start'}} Drawing Seat</button>
<button mat-raised-button (click)='updateSeatsSize()' color="primary">Update Seat</button>
<div class="label">
  <mat-card><p><b>Width : {{seatWidth}}</b></p></mat-card>
  <mat-card><p><b>Height : {{seatHeight}}</b></p></mat-card>
</div>
<!-- <div>
  <label for="width">Width:</label>
  <input type="number" id="width" [(ngModel)]="width" name="width">
</div>
<div>
  <label for="height">Height:</label>
  <input type="number" id="height" [(ngModel)]="height" name="height">
</div>
<button (click)="drawCustomRect()">CUSTOM BUTTOn</button> -->
<button mat-raised-button (click)="goToDrawSeat()">Check Seats</button>
</div>
</div>
