.contain{
  width: 800px;
  height: 566px;
  border: 1px solid black;
}
.changeContain{
  width: 800px;
  height: 566px;
  border: 1px solid black;

    user-select: none;
    cursor: move;

}
.main{
  display: flex;

  button{
    margin: 10px;
  }
  .canvas-container{
    margin-left: 6rem;
    padding-top:3rem;

  }
  .sub-container{
    display: flex;
    flex-direction: column;
    margin-left:6rem;
    padding-top:3rem;
    width:15rem;
    align-items: center;
  }
  .label{
    display: flex;
    gap:1rem;

    mat-card{
      width:8rem;
    }
  }
}
