
<div class="main">
  <div class="canvas-container">
    <div id="container" [ngClass]="isDrawingEnabled || isSeatDrawingEnabled ?'contain':'changeContain'" (click)="eventEmitDoubleClick($event)"></div>
  </div>
<div class="sub-container">
  <button mat-raised-button (click)="toggleDrawing()" color="primary" >{{isDrawingEnabled?'Stop':'Start'}} Drawing Border</button>
  <button disabled="{{!isEnableDrowSeatBtn}}" mat-raised-button (click)="drawSeatAndGetHW()" color="primary">{{isSeatDrawingEnabled?'Stop':'Start'}} Drawing Seat</button>
  <button disabled="{{!isEnableSaveBtn}}" mat-raised-button (click)='addRectDataInArray();updateSeatsSize()' color="primary">Update Border And Seat</button>
 
  <div class="label">
    <!-- <mat-card><p><b>Width : {{seatWidth}}</b></p></mat-card>
    <mat-card><p><b>Height : {{seatHeight}}</b></p></mat-card> -->
  </div>
<!-- <button mat-raised-button (click)='' color="primary">Update Seat</button> -->
<button mat-raised-button (click)="resetZoomAndPosition()" color="primary">Reset Zoom and Position</button>
<button mat-raised-button (click)='addLayout()' color="primary">Final the layout</button>
<button *ngIf="isDeleteShape" mat-raised-button (click)="deleteSelectedShape(seatShape)" color="primary">delete Selected Layout</button>
 
</div>
</div>