.container{
  width: 100%;
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../../../assets/images/location/location-background.png");
  background-size: cover;
  background-position: center;
  background-color: #fddede;
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0.5rem;
    h1{
      color: #C3343A;
      font-weight: 500;
      // width: 100%;
      // text-align: center;
      margin-inline-start: 2rem;

    }

    .center-name {
      color: #C3343A;
      font-weight: 500;
      margin-inline-start: 0rem;
      // font-size: 1.5rem;
    }
}
  .images {
    /* sliding-images.component.scss */
width: 70%;

    .carousel-container{
position: relative;
// margin: 15px;
text-align: center;
width: 100%;
border-radius: 15px;
box-shadow: 0 6px 12px #dce1e1;
img{
  display: none;
  border-radius: 15px;
}
    img.image-active {
      display: block;
      width: 100%;
      height: 450px;
    }

    .carousel-dot-container {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      padding: 0;
      margin-bottom: 1rem;
    }
    .dot {
      cursor: pointer;
      height: 13px;
      width: 13px;
      margin: 0 5px;
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      transition: opacity 0.6s ease;
      opacity: 0.5;
    }
    .active,
    .dot:hover{
      opacity: 1;
    }
  }

}
.video{
  width: inherit;
  .video-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      color: #C3343A;
      font-weight: 500;
      font-size: 1.6rem;

    }
  }
}
}
