<div [ngClass]="showMe?'card-wrapper':''">
<mat-card class="card" (click)="clickHandler()" [ngClass]="showMe ? 'expand' : ''">
  <h2><mat-icon>location_city</mat-icon> {{ cardData.name }}</h2>
  <div class="subtitle">
    <mat-card>
      <p> <b> Total Seats: {{ cardData.select }}/{{ cardData.total }}</b></p>
    </mat-card>
    <mat-card>
      <p> <b>Proposal Generated: {{ cardData.select }}</b></p>
    </mat-card>
  </div>
  <div class="sub_card">
    <mat-card class="sub" *ngFor="let center of cardData.centers">
      <span class="center_title">{{ center.center_name }}: </span>
     <mat-card class="sub_sub_card">
        <p><b>Total Seat Selected:</b> {{ center.seatSelected }}/{{ center.totalSeat }} </p>
    </mat-card>
      <mat-card class="sub_sub_card">
        <p><b>Total Proposal Generated:</b> {{ center.Center_Proposal }}</p>
      </mat-card>
    </mat-card>
  </div>
</mat-card>
</div>