
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
    h2{
      margin: 0;
        mat-icon{
            font-size: 1.8rem;
        }
    }
  background-color: #c3343a;
  color: white;
  overflow: hidden;
  padding-inline: 1rem;
  width: 15rem;
  max-width:100rem;
  max-height: 5.5rem;
// transition-property: max-height;
// transition-property: width;
  transition: 600ms ease-out;
  .subtitle{
      width: 34rem;
      display: flex;
      // flex-direction: column;
      justify-content: space-around;
      gap:1;
    
    mat-card{
        margin-block: 1rem;
    }
  }
  .sub_card {
    width: 55rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  .sub {
    margin: 1rem;
    width: 14rem;
    overflow: hidden;
    max-height: 25rem;
    .center_title{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .sub_sub_card{
        margin-block: 0.5rem;
        background-color: #c3343a;
        color: white;
    }
  }
}
  &.expand {
    text-align: initial;
    width: 54rem;
    max-height: 100rem;
    transition:  600ms ease-in;
    .subtitle {
     margin-block-start: 0;
     width: 54rem;
      display: flex;
      // flex-direction: row;
      justify-content: space-around;
      gap:1;
      p {
        margin-block:0;
        margin-inline: 2rem;
        font-size: 1.2rem;
      }
    }
    .sub_card {
        width: 55rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow: hidden;
      .sub {
        margin: 1rem;
        width: 14rem;
        overflow: hidden;
        max-height: 25rem;
        .center_title{
            font-size: 1.5rem;
            font-weight: 600;
        }
        .sub_sub_card{
            margin-block: 0.5rem;
            background-color: #c3343a;
            color: white;
        }
      }
    }
  }
}

